@import 'styles/config.scss';

//////////////////////////
//     PRIMARIES        //
//////////////////////////

.white {
  color: $white;
}

.gray {
  color: $chambray;
}

.bay-blue {
  color: $bay-blue;
}
.waikawa-gray {
  color: $waikawa-gray;
}

.royal-blue {
  color: $royal-blue;
}

.blue {
  color: $scooter-blue;
}

.orange {
  color: $golden-orange;
}

.chambray {
  color: $chambray;
}

.yellow {
  color: $golden-yellow;
}

.green {
  color: $pastel-green;
}

.red {
  color: $bittersweet;
}

.purple {
  color: $heliotrope-purple;
}

.lynch {
  color: $waikawa-gray;
}

.blue-haze {
  color: $blue-haze;
}

.selago {
  color: $selago;
}

//////////////////////////
//       THEMES         //
//////////////////////////

.dark {
  color: $bay-blue;
}

.bay-of-many {
  color: $bay-of-many;
}
