@import 'styles/config.scss';
@import 'styles/reset.scss';

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
